*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16 = 62.5%

  // @include respond(phone) {
  //   font-size: 50%;
  // } dont need this one because it is same as tab-port because 500 < 600 and 500 < 900

  @include respond(tab-land) { // width < 1200 ?
    font-size: 56.25%; //1 rem = 9px, 9/16
  }

  @include respond(tab-port) { // width < 900 ?
    font-size: 50%; //1 rem = 8px, 8/16
  }

  //700px example - tab-port will apply, and that is exactly what we want, thats why we made this order above

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) { 
    padding: 0;
  }
}
